.header__lang-link {
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.8;
  font-weight: normal;
  color: white;
  transition: opacity linear .5s;
}


.header__lang-link:hover {
  opacity: .4;
  text-decoration: underline;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 1.1rem;
    line-height: 1.2;
  }
}
