.place__image {
    width: 460px;
    grid-column: 1/2;
}

@media screen and (max-width: 1024px) {
    .place__image {
        width: 440px;
    }
}

@media screen and (max-width: 900px) {
    .place__image {
        width: 340px;
    }
}

@media screen and (max-width: 700px) {
    .place__image {
        width: 100%;
    }
}

