.place-container__text {
  margin: 0 0 26px;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: white;
}


.place-container__text:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place-container__text {
    font-size: 18px;
    line-height: 26px;
  }
}

@media screen and (max-width: 768px) {
  .place-container__text {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .place-container__text {
    grid-column: 1;
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .place-container__text {
    grid-column: 1;
    margin: 0 16px 25px;
  }
}
