.intro__text {
  margin: 0;
  padding-bottom: 33px;
  max-width: 690px;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: normal;
  color: white;
}

@media screen and (max-width: 768px) {
  .intro__text {
    font-size: 16px;
    max-width: 720px;
  }
}

