.intro {
  max-width: 985px;
  margin: 0 auto;
  padding-top: 92px;
}

@media screen and (max-width: 1280px) {
  .intro {
    max-width: 77%;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 90.6%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 94%;
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 90%;
    padding-top: 64px;
  }
}
