.lead__subtitle {
  max-width: 640px;
  margin: 0;
  padding-bottom: 64px;
  font-size: 1.9rem;
  line-height: 1.2;
  color: white;
  font-weight: normal;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    max-width: 83%;
    font-size: 4vw;
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 320px) {

  .lead__subtitle {
    max-width: 90%;
    font-size: 5vw;
    line-height: 20px;
    padding-bottom: 40px;
  }
}
