.place {
    display: grid;
    grid-template-columns: 460px, 1fr;
    gap: 48px 40px;
    margin-bottom: 80px;
}

.place:last-of-type {
    margin-bottom: 0px;
}

@media screen and (max-width: 1024px) {
    .place {
        gap: 48px 32px;
    }
}

@media screen and (max-width: 900px) {
    .place {
        gap: 48px 28px;
        margin-bottom: 70px;
        
    }
}

@media screen and (max-width: 700px) {
    .place {
        row-gap: 32px;
        margin-bottom: 50px;
    }
    
}