.footer {
    max-width: 92.5%;
    margin: 0 auto;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 90.6%;
    }
}


@media screen and (max-width: 768px) {
    .footer {
        max-width: 93.75%;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
    }
    
}